.filtersContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
}

.gameListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  margin-top: 20px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
